HOST=0.0.0.0
PORT=6016

# sherpa-onnx model files
SHERPA_TOKENS=./models/tokens.txt
SHERPA_ENCODER=./models/encoder.onnx
SHERPA_DECODER=./models/decoder.onnx
SHERPA_JOINER=./models/joiner.onnx

# Runtime
SAMPLE_RATE=16000
NUM_THREADS=2
PROVIDER=cpu
